{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>D-Bank</title>
</head>
<body>

<div class="welcome">
    <h1 class="weltext">Welcome !!!</h1>
    <h3 class="desc">We combine businsess with finance</h3>
</div>




<div class="container">
  <div class="one"><img class="card-img-top" style="border-radius: 2rem;" src="{% static 'img/1.jpg' %}" alt="Card image cap"></div>
  <div style="margin-left: 20px;" ></div>
  
  <div class="two"><img class="card-img-top" style="border-radius: 2rem;" src="{% static 'img/2.jpg' %}" alt="Card image cap"></div>
  <div style="margin-left: 20px;"></div>
  
  <div class="three"><img class="card-img-top" style="border-radius: 2rem;" src="{% static 'img/3.jpg' %}" alt="Card image cap"></div>
  <div style="margin-left: 20px;"></div>
</div>

</body>
</html>

{% endblock %}