{% extends 'base.html' %}
{% load static %}
{% block content %}

 <div class="reg-div">
      <form action="register" method="post">
        {% csrf_token %}

        <h2 class="lab"> ✎ Register ✎</h2>
        <br />
        <div class="first">
        <label class="lab">Enter name</label><br>
        <input type="text" class="inp" placeholder="eg:abc_abc" name="name"><br><br>

        <label class="lab">Date of birth</label><br>
        <input type="date" class="inp" placeholder="" name="dob"><br><br>

        <label class="lab">Gender</label><br>
        <input type="radio" class="" placeholder="Male" name="gender" value="Male"><label class="lab">Male</label><br>
        <input type="radio" class="" placeholder="" name="gender" value="Female"><label class="lab">Female</label><br>
        <input type="radio" class="" placeholder="" name="gender" value="Other"><label class="lab">Other</label><br>
        <br><br>

        <label class="lab">Enter E-mail</label><br>
        <input type="email" class="inp" placeholder="eg:abc@abc.com" name="mail"><br><br>

        <label class="lab">Enter Mobile no.</label><br>
        <input type="number" class="inp" name="mob" ><br><br>
        </div>

        <label class="lab">Address</label><br>
        <input type="text" class="inp" name="address"><br><br>


        
          <script>
            var subjectObject = {
              "Kasargod": {
                "Hosdurg": [],
                "Uduma": [],
                "Puthur": []    
              },
              "Kannur": {
                "Ezhimala": [],
                "Mattannur": [],
                "Payyannur": []    
              },
              "Kozhikode": {
                "Manjeri": [],
                "Mukkam": [],
                "Koyilandy": []    
              },
              "Alapuzha": {
                "Pathirapalli": [],
                "Vattayal": [],
                "Palakkulam": []    
              },
              "Kollam": {
                "Bharath nagar": [],
                "KB Nagar": [],
                "Mundakkal": []    
              },
              "Trivandrum": {
                "Sreekaryam": [],
                "Thumba": [],
                "Karyavattom": []    
              },
              
            }
            window.onload = function() {
              var subjectSel = document.getElementById("subject");
              var topicSel = document.getElementById("topic");
              
              for (var x in subjectObject) {
                subjectSel.options[subjectSel.options.length] = new Option(x, x);
              }
              subjectSel.onchange = function() {
                //empty Chapters- and Topics- dropdowns
                
                topicSel.length = 1;
                //display correct values
                for (var y in subjectObject[this.value]) {
                  topicSel.options[topicSel.options.length] = new Option(y, y);
                }
              }
              
            }
            </script>            
            
            District: <select name="district" id="subject">
                <option value="" selected="selected">-------</option>
              </select>
              <br><br>
            Branch: <select name="branch" id="topic">
                <option value="" selected="selected">-------</option>
              </select>
              <br><br>
               
            
          <br><br>
          <label class="lab"> Account type </label> <br>
          <select  name="actype">  
          <option value = "Savings ac"> Savings ac   
          </option>  
          <option value = "Current ac " > Current ac   
          </option>  
          <option value = "Salary ac" > Salary ac  
          </option>  
          <option value = "NRI ac " > NRI ac  
          </option>  
          </select><br><br>

        <label class="lab" for="">Materials provide</label><br><br>
        <input type="checkbox" id="" name="mp" value="Debit card">
        <label for=""> Debit card</label><br>
        <input type="checkbox" id="" name="mp" value="Credit card">
        <label for=""> Credit card</label><br>
        <input type="checkbox" id="" name="mp" value="Cheque book">
        <label for=""> Cheque book</label><br><br>

        <input type="submit" value="Submit & Logout">


      </form>
      {% for msg in messages %}
      <h3 style="color:black"> {{msg}} <button><a href="/">Homepage</a></button></h3>
      {% endfor %}
    </div>

  {% endblock %}